/* KANDY CHAT STYLE */
.myChatStyle .kandyMessages {
    background: #EFEFEF;
}

.myChatStyle .imUsername {
    width:100px;
}

.myChatStyle .imMessageToSend {
   
}

.myChatStyle .messages {
 
}

.myChatStyle .imMessage {
    width:250px;
}

.myChatStyle .my-message {
   
}

.myChatStyle .their-message {
    
}

.myChatStyle .btnSendMessage {
    
}

.myChatStyle .input-message {
    
}

.myChatStyle .button-send {

}

.myChatStyle .contact-heading {
}

.myChatStyle .chat-with-message {
}
